* {
    --main-color:#009ad8;
}


ul li .active {
    padding: 5px 15px;
    border: 2px solid #009ad8;
    border-radius: 30px;
    color: #009ad8 !important;
    font-weight: 400;
}

ul li a:hover {
   border: 2px solid #009ad8;
   padding: 5px 7px;
   border-radius: 30px;
   color: #009ad8 !important;
   transition: 0.5s ;
}





.display-temp #search-bar {
    padding: 15px 15px;
    border: 1px solid #3199ab;
    border-radius: 20px;
}

.display-temp .temp-card {
    width: 32%;
    border-radius: 8px;
}

.display-temp .temp-card:first-of-type,
.display-temp .temp-card:nth-of-type(3) {
    background-color: #3a3e51;
}
.display-temp .temp-card:first-of-type h2 {
    font-size: 50px;
    font-weight: 600;
}

.display-temp .temp-card:first-of-type .day-and-date {
    background-color:#009ad8 ;
}

.display-temp .temp-card:nth-of-type(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.display-temp .temp-card:nth-of-type(2) 
 {
    background-color: rgb(30, 32, 43);
    transition: all 0.3s;
}

.display-temp .temp-card:first-of-type:hover,
.display-temp .temp-card:nth-of-type(3):hover {
    background-color: rgb(30, 32, 43);
}

.display-temp .temp-card .day-and-date {
    background-color:#214e55 ;
    color: #bfc1c8;
    padding: 10px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.display-temp .temp-card .day-and-date p {
    margin: 0 !important;
}

.display-temp .temp-card #location {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.display-temp .temp-card .temp-datails {
    padding: 25px;
    color: #fff;
}

.display-temp .temp-card .temp-datails #today-description,
.display-temp .temp-card .temp-datails .nextDay-description {
    font-size: 14px;
    color: #009ad8 ;
    text-shadow: 0 0 1px #455a64,  0 0 1px #455a64;
}
/* Start footer */

footer {
    background: #262936;
    padding: 50px 0;
}
footer  .subscribe-input {
    border: 1px solid #009ad8;
    border-radius: 25px;
    padding: 15px 15px;

}
.btn-Subscribe{
    position: absolute;
    left:33.1rem;
    top: -1px;
    padding: 5px 25px;
    background-color: #009ad8;
    color: white;
    height: 3.5rem;
    border: 1px solid #009ad8;

}

footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 1.8;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4em;
}

footer .dec-footer {
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.layer-img {
    background-image: url(/image/banner.png);
}
